.container{
    
    background-color: rgb(235 230 230);
    padding: 40px 0;
    /* overflow-x: hidden; */
    position: relative;
    height: 100%;
    max-height: 221vh;
    display: flex;
    justify-content: space-evenly;
}

.img{

    width: 100%;
    border-radius: 9px;
    margin-top: 69px;
    max-width: 367px;
    
}

.title{
    font-family: Courier;
    text-align: center;

}

.imgContainer{
    display: flex;
    justify-content: center;
}


.infoWidth{
    width: 500px;
}






