.containerHome {
    background-color: rgb(235 230 230);
    position:fixed;
    padding-top: 20px !important;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
  
}



.title:hover .tie{
    font-family: Courier;
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(360deg);

}

.tie{
    width: 90px;

}


.title{
    font-family: Courier;

}

.typewriter{
    width: 90px;
}

.aboutText{

        /* top: 100%; */
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        max-width: 100%;
        /* z-index: 0; */
        max-height: 100%;
        /* object-fit: cover; */
        top: 448px;
        display: initial;
        margin-left: -35px !important;
      
}


.portfo{
    position: absolute;
    left: 56px;
    top: 443px;
    bottom: 0px;
    width: 300px;
    height: 200px;
}

@media only screen and (min-width:900px) {
    .portfo {
        position: unset;
    left: 56px;
    top: 443px;
    bottom: 0px;
    width: 300px;
    height: 200px;
    }
  }

  @media only screen and (min-width:600px) {
    .portfo {
        position: unset;
    left: 56px;
    top: 443px;
    bottom: 0px;
    width: 300px;
    height: 200px;
    }
  }