.containerHome {
    background-color: rgb(235 230 230);
    position:fixed;
    padding-top: 20px !important;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
  
}



.title:hover .tie{
    font-family: Courier;
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(360deg);

}

.tie{
    width: 90px;

}



.typewriter{
    width: 90px;
}

.aboutText{

        /* top: 100%; */
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        max-width: 100%;
        /* z-index: 0; */
        max-height: 100%;
        /* object-fit: cover; */
        top: 448px;
        display: initial;
        margin-left: -35px !important;
      
}


.portfo{
    position: absolute;
    left: 56px;
    top: 443px;
    bottom: 0px;
    width: 300px;
    height: 200px;
}

@media only screen and (min-width:900px) {
    .portfo {
        position: unset;
    left: 56px;
    top: 443px;
    bottom: 0px;
    width: 300px;
    height: 200px;
    }
  }

  @media only screen and (min-width:600px) {
    .portfo {
        position: unset;
    left: 56px;
    top: 443px;
    bottom: 0px;
    width: 300px;
    height: 200px;
    }
  }

  @media only screen and (min-width: 280px) {
    .portfo {
    width: 280px;


      }
  }


  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
  }


  .typewriterstyle{
    font-family: Courier;
    display: inline-block;
    position: relative;
    color: #000000;

  }


.title{
    font-family: Courier;
    display: inline-block;
    position: relative;
    color: #000000;


}
  
  .title:after {
    
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a0aaaf;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  