.load{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    align-items: center;
    background-color: #000000
}



.benoImg{
    /* position: absolute; */
}

/* .progress{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 275px !important;
    left: 0;
} */



 

 

